* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* navbar */
.nav {
  /* background-color: beige; */
  background-color: rgb(190, 230, 235);
  /* background-color: rgb(40, 180, 196); */
  padding: 0px 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#logo {
  font-size: 40px;
}
#logo a{
  text-decoration: none;
  color: black;
}


#navbar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(40, 180, 196);
  border-radius: 9px;
  margin: 10px 0px;
}
#navbar ul li {
  list-style: none;
  border-radius: 9px;
  padding: 5px 5px;
  margin: 8px 10px;
}
#navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 20px;
}
#navbar ul li a:hover {
  /* background-color: rgb(204, 204, 97); */
  background-color: rgb(190, 230, 235);
  /* color: rgb(224, 128, 17); */
  color: black;
}

.main-section {
  min-height: 80vh;
}
/* wallpaper carousel */
.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: inherit;
  height: 80vh;
}
.carousel_items {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.carousel_item {
  position: relative;
  min-width: 100%;
  height: 80vh;
  transition: all 0.5s linear;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* .carousel_text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-shadow: 1px 1px black;
  font-size: calc(1.5rem + 0.3vw);
  font-weight: bolder;
} */

.item1 {
  background-image: url("./photo/human\ rights\ is\ disability\ rights\ disability\ right\ is\ human\ right.jpg");
}
/* .item2 {
  background-image: url("./photo/Screenshot\ 2024-08-06\ 121727.png");
} */
/* .item3 {
  background-image: url("https://images.unsplash.com/photo-1536697246787-1f7ae568d89a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fHNwYWNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}
.item4 {
  background-image: url("https://images.unsplash.com/photo-1620712943543-bcc4688e7485?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8QUl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
}
.item5 {
  background-image: url("https://images.unsplash.com/photo-1673901736622-c3f06b08511f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80");
} */

.links {
  text-decoration: none;
  cursor: pointer;
  /* color: rgb(94, 94, 25); */
  color: rgb(35, 131, 138);
}
.links:hover {
  /* color: rgb(235, 235, 217); */
  color: black;
  background-color: rgb(40, 180, 196);
}
.home-donate {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.home-donate a {
  min-height: 120px;
  min-width: 120px;
  background-color: rgb(173, 221, 227);
  padding: 20px 20px;
  margin: 20px 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* about - section */
.home-sections {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section {
  padding: 20px 20px;
  width: 80%;
  border-radius: 12px;
  color: black;
  /* background-color: beige; */
  background-color: rgb(190, 230, 235);
  margin: 10px 0px;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
}
/* .about-legal{

} */
.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.photo-box {
  width: 200px;
  height: 200px;
  padding: 10px 10px;
  margin: 10px 10px;
  background-color: rgb(134, 122, 145);
}


/* donate */
.bank ul li{
  list-style: none  ;
}

/* about */
.team-list ul li {
  list-style: none;
  padding: 6px;
}

/* footer */
footer {
  /* background-color: #f9f6ee; */
  background-color: rgb(190, 230, 235);
  color: black;
  height: auto;
  margin-bottom: 0px;
  /* display: grid; */
  /* grid-template-columns: 2fr 1fr; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#footer-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
#footer-heading div ul {
  list-style: none;
}
#footer-heading div ul li {
  margin: 18px 24px;
  font-weight: 700;
  font-size: 25px;
  color: black;
}
#footer-heading ul li span {
  padding: 10px 0px;
  font-size: 15px;
  font-weight: 400;
  color: black;
}
#footer-heading ul li span a {
  text-decoration: none;
  color: black;
}
#footer-heading ul li span a:hover {
  color: red;
}

#footer-content {
  justify-content: center;
  margin: auto;
  text-align: center;
  margin: 20px 20px 0px 20px;
  padding: 10px 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
#footer-content ul {
  list-style: none;
}
#footer-content ul li {
  padding: 10px 0px;
  font-size: 15px;
}
#footer-content ul li span {
  padding: 10px 0px;
  font-size: 15px;
  font-weight: 700;
}
.font {
  font-size: 12px;
}

#footer-logo ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#footer-logo ul li {
  list-style: none;
  margin: 0px 20px;
}
#footer-logo ul li img {
  list-style: none;
  height: 33px;
  width: 33px;
  border-radius: 11px;
}
#gmail {
  width: 40px;
}
#logo-shradha {
  padding: 10px 10px;
  height: 190px;
  width: 290pxx;
}
#last-line {
  background-color: rgb(190, 230, 235);
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}
/* for teams logo */
#footer-logo-teams {
  display: inline-block;
}

#footer-logo-teams ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#footer-logo-teams ul li {
  list-style: none;
  margin: 0px 10px;
}
#footer-logo-teams ul li img {
  list-style: none;
  height: 23px;
  width: 23px;
  border-radius: 8px;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .nav {
    padding: 0px;
    height: 130px;
  }
  #navbar ul li {
    border-radius: 9px;
    padding: 0px 0px;
    margin: 7px 0px;
  }
  #navbar ul li a {
    padding: 5px 8px;
  }
  .carousel-container {
    height: 30vh;
    margin: 10px 0px;
  }
  .carousel_item {
    height: 30vh;
  }
  .text-sm {
    font-size: 3px;
  }
  .section {
    padding: 10px 10px;
    width: 90%;
    margin: 5px 0px;
  }

  .home-donate a {
    padding: 10px 10px;
    margin: 5px 10px;
  }

  #footer-heading div ul li {
    margin: 6px 20px;
    font-size: 23px;
  }
  #footer-heading ul li span {
    padding: 0px 0px;
    font-size: 15px;
  }
  #last-line {
    font-size: 14px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .nav {
    padding: 0px;
  }
  #navbar ul li {
    border-radius: 9px;
    padding: 0px 0px;
    margin: 7px 0px;
  }
  #navbar ul li a {
    padding: 5px 8px;
  }
  .home-donate a {
    padding: 10px 10px;
    margin: 10px 10px;
  }
  .carousel-container {
    height: 40vh;
  }
  .carousel_item {
    height: 40vh;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
}
